Repository sndrkrshnn/freelance-agents-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-eslint, backend-prettier, backend-package-json, frontend-prettier, frontend-package-json, github-actions-lint, check-environment-variables

backend-eslint:
  name: Backend - ESLint
  entry: bash -c 'cd backend && npm run lint'
  language: system
  pass_filenames: false

backend-prettier:
  name: Backend - Prettier
  entry: bash -c 'cd backend && npx prettier --write "**/*.js"'
  language: system

backend-package-json:
  name: Backend - Validate package.json
  entry: bash -c 'cd backend && npx validate-package-json'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend - Prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{ts,tsx,css,md}"'
  language: system

frontend-package-json:
  name: Frontend - Validate package.json
  entry: bash -c 'cd frontend && npx validate-package-json'
  language: system
  pass_filenames: false

github-actions-lint:
  name: GitHub Actions - Lint
  entry: bash -c 'if command -v actionlint &> /dev/null; then actionlint .github/workflows/*.yml; else echo "actionlint not installed, skipping"; fi'
  language: system

check-environment-variables:
  name: Check for hardcoded secrets
  entry: bash -c 'grep -r "SECRET_KEY\|PASSWORD\|API_KEY" --include="*.js" --include="*.ts" --include="*.tsx" --exclude-dir=node_modules --exclude-dir=.git . | grep -v "//" && echo "Found hardcoded secrets!" && exit 1 || exit 0'
  language: system

docs: add quick deployment guide
  QUICK_DEPLOY_NOW.md
Due: frontend-prettier

docs: add complete deployment guide with API key generation
  COMPLETE_DEPLOYMENT_GUIDE.md
Due: frontend-prettier

docs: add quick reference for key generation & deployment
  QUICK_KEYS_DEPLOY.md
Due: frontend-prettier

fix: render.yaml structure - add services section
  render.yaml
Due: none

fix: simplify render.yaml - remove comments to avoid parsing issues
  render.yaml
Due: none

fix: remove unsupported healthCheck properties from render.yaml
  render.yaml
Due: none

fix: add ipAllowList to Redis service in render.yaml
  render.yaml
Due: none

fix: use correct ipWhitelist field name for Redis in render.yaml
  render.yaml
Due: none

docs: add comprehensive deployment guide for morning
  READY_WHEN_YOU_WAKE_UP.md
Due: frontend-prettier

docs: add morning deployment status checklist
  MORNING_STATUS.md
Due: frontend-prettier

docs: add detailed summary of all render.yaml fixes and lessons learned
  RENDER_YAML_FIXES_SUMMARY.md
Due: frontend-prettier

docs: add comprehensive good morning guide with all steps
  GOOD_MORNING.md
Due: frontend-prettier

feat: redesign frontend with anti-slop design principles
  frontend/src/App.tsx
  frontend/src/index.css
Due: frontend-prettier, check-environment-variables

feat: push frontend anti‑slop design updates
  COMPLETE_DEPLOYMENT_GUIDE.md
  backend/src/db/schema.sql
Due: frontend-prettier

fix: use proper UUIDs and remove id columns in seed to avoid UUID syntax errors
  backend/package-lock.json
  backend/src/db/seed.js
  backend/src/utils/helpers.js
Due: backend-eslint, backend-prettier, check-environment-variables

Add comprehensive database configuration tests
  backend/jest.config.js
  backend/tests/config/database.test.js
Due: backend-eslint, backend-prettier, check-environment-variables

Add testing logic and environment validation to database config
  backend/src/config/database.js
  backend/tests/config/database.test.js
  backend/tests/setup.js
Due: backend-eslint, backend-prettier, check-environment-variables

Fix RedisStore import in rateLimiter - change to named export
  backend/src/middleware/rateLimiter.js
Due: backend-eslint, backend-prettier, check-environment-variables

Fix RedisStore import compatibility and add missing tsconfig.node.json
  backend/src/middleware/rateLimiter.js
  frontend/tsconfig.node.json
Due: backend-eslint, backend-prettier, check-environment-variables

Remove Redis dependencies and fix PWA configuration
  backend/package.json
  backend/src/middleware/rateLimiter.js
  frontend/vite.config.ts
Due: backend-eslint, backend-prettier, backend-package-json, frontend-prettier, check-environment-variables

Make Redis module optional in redis config
  backend/src/config/redis.js
Due: backend-eslint, backend-prettier, check-environment-variables

Fix CSS import order and missing comma in Message model
  backend/src/models/Message.js
  frontend/src/index.css
Due: backend-eslint, backend-prettier, frontend-prettier, check-environment-variables

Change backend port from 5000 to 8080
  backend/.env.example
  backend/src/config/swagger.js
  backend/src/server.js
  frontend/src/services/api.ts
  frontend/vite.config.ts
Due: backend-eslint, backend-prettier, frontend-prettier, check-environment-variables

Fix all Docker configuration to use port 8080
  backend/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
Due: none

Fix Toaster import error - @radix-ui/react-toast does not export Toaster
  frontend/src/App.tsx
  frontend/src/components/ui/toaster.tsx
Due: frontend-prettier, check-environment-variables

Fix anti-slop design CSS - resolve frontend breaking issues
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Due: backend-eslint, backend-prettier, frontend-prettier, check-environment-variables

Add React Router v7 future flags to suppress warnings
  frontend/src/main.tsx
Due: frontend-prettier, check-environment-variables

Implement core functionality: task posting, agent execution, and full routing
  backend/package.json
  backend/src/controllers/agentStatsController.js
  backend/src/controllers/proposalController.js
  backend/src/models/TaskAssignment.js
  backend/src/routes/agentExecutionRoutes.js
  backend/src/routes/agentRoutes.js
  backend/src/routes/index.js
  backend/src/server.js
  backend/src/services/agentAutoStartService.js
  backend/src/services/agentExecutionService.js
  backend/src/services/schedulerService.js
  frontend/src/App.tsx
  frontend/src/pages/BrowseAgents.tsx
  frontend/src/pages/BrowseTasks.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PostTask.tsx
  frontend/src/pages/Register.tsx
  frontend/src/services/tasksApi.ts
  frontend/src/types/index.ts
Due: backend-eslint, backend-prettier, backend-package-json, frontend-prettier, check-environment-variables

Add comprehensive implementation documentation
  IMPLEMENTATION.md
Due: frontend-prettier

Fix duplicate declaration error in App.tsx
  frontend/src/App.tsx
  frontend/src/pages/AgentDetail.tsx
  frontend/src/pages/TaskDetail.tsx
Due: frontend-prettier, check-environment-variables

Remove node-cron scheduler and set up gateway cron jobs for AI assistant
  backend/package.json
  backend/src/server.js
  backend/src/services/agentAutoStartService.js
  backend/src/services/schedulerService.js
Due: backend-eslint, backend-prettier, backend-package-json, check-environment-variables

Fix navbar overlap issue - increase content padding
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/AgentDetail.tsx
  frontend/src/pages/BrowseAgents.tsx
  frontend/src/pages/BrowseTasks.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PostTask.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/TaskDetail.tsx
Due: frontend-prettier, check-environment-variables

Fix navbar overlap on home page - wrap content sections with nav-padding-top
  frontend/src/pages/Home.tsx
Due: frontend-prettier, check-environment-variables

Fix navbar overlap completely - remove duplicate navbars and fix padding
  frontend/src/App.tsx
  frontend/src/pages/Home.tsx
Due: frontend-prettier, check-environment-variables

Fix homepage navbar overlap and remove antislop design trademark
  frontend/src/pages/Home.tsx
Due: frontend-prettier, check-environment-variables

Fix homepage navbar overlap - move MarqueeBanner outside padded div
  frontend/src/pages/Home.tsx
Due: frontend-prettier, check-environment-variables

Fix homepage button coverage and duplicate issues, remove GitHub link
  frontend/src/index.css
  frontend/src/pages/Home.tsx
Due: frontend-prettier, check-environment-variables

fix: resolve compilation and configuration bugs (Daily Bug Fixes - Feb 13, 2026)
  BUG_FIXES_REPORT.md
  backend/.eslintrc.js
  backend/src/config/database.js
  frontend/package-lock.json
  frontend/src/hooks/__tests__/useAuth.test.tsx
Due: backend-eslint, backend-prettier, frontend-prettier, check-environment-variables

Path conditions:
  backend-eslint: any of: \.js$ and \.(js|mjs|cjs)$
  backend-prettier: any of: \.js$ and \.(js|mjs|cjs)$
  backend-package-json: any of: ^backend/package\.json$
  frontend-prettier: any of: \.(ts|tsx|css|md)$
  frontend-package-json: any of: ^frontend/package\.json$
  github-actions-lint: any of: \.github/workflows/.*\.yml$
  check-environment-variables: any of: \.(js|ts|tsx)$
